
.container {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  font-family: Arial, sans-serif;
}
.typeWriterbox {
  width: auto;
  height: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.video-container {
  width: 70%;
  height: 100vh;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: start;
}

.text-a {
  font-size: 22px;
  font-weight: bold;
}

.text-b {
  font-size: 70px;
  font-weight: normal;
  margin-top: -0px;
}

.button-container {
  margin-top: -20px;
}
